Project:
  Name : BTFengJiDI
  RT_ID : 5156
  File : "风机DI协议.doc"
  DevType : 2
  Category : 传感器
  ProtocolName : BTFengJiDI
Sample :
  - Cmd : 3
    Offset : 0x180
    Len : 1
    Data :
      - Name : "输入端1/5的状态"
        Value : '(($v[1] >> 13) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 13) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1/4的状态"
        Value : '(($v[1] >> 12) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 12) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1/3的状态"
        Value : '(($v[1] >> 11) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 11) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1/2的状态"
        Value : '(($v[1] >> 10) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 10) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1/1的状态"
        Value : '(($v[1] >> 9) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 9) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1/0的状态"
        Value : '(($v[1] >> 8) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 8) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/7的状态"
        Value : '(($v[1] >> 7) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 7) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/6的状态"
        Value : '(($v[1] >> 6) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 6) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/5的状态"
        Value : '(($v[1] >> 5) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 5) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/4的状态"
        Value : '(($v[1] >> 4) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 4) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/3的状态"
        Value : '(($v[1] >> 3) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 3) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/2的状态"
        Value : '(($v[1] >> 2) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 2) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/1的状态"
        Value : '(($v[1] >> 1) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 1) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0/0的状态"
        Value : '(($v[1]) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0]) & 0x1) ? "断开" : "闭合"'
RunCheckThresholdCodeTelecom : |
   if(levelMap_["120820030010"]){
            CheckThresholdBool(levelMap_["120820030010"] , "120820030010", "120820030010", "普通空调运行状态001", "普通空调运行状态001",  (cData.r3_384[0]&0x1), 1);
    }
   if(levelMap_["120820030020"]){
            CheckThresholdBool(levelMap_["120820030020"] , "120820030020", "120820030020", "普通空调运行状态002", "普通空调运行状态002",  ((cData.r3_384[0]>>1)&0x1), 1);
    }
   if(levelMap_["120820030030"]){
            CheckThresholdBool(levelMap_["120820030030"] , "120820030030", "120820030030", "普通空调运行状态003", "普通空调运行状态003",  ((cData.r3_384[0]>>2)&0x1), 1);
    }
   if(levelMap_["120820030040"]){
            CheckThresholdBool(levelMap_["120820030040"] , "120820030040", "120820030040", "普通空调运行状态004", "普通空调运行状态004",  ((cData.r3_384[0]>>3)&0x1), 1);
    }
Patch : |
    RefreshStatus: char cmd[] = { 0x03, 0x03, 0x01, 0x80, 0x00, 0x0E, 0x00, 0x00, 0x52, 0xD2};
    SendData(cmd, 10);