Project:
  Name : BTFengJiDI
  RT_ID : 5156
  File : "风机DI协议.doc"
  DevType : 2
  Category : 传感器
  ProtocolName : BTFengJiDI
Sample :
  - Cmd : 3
    Offset : 0x180
    Len : 1
    Data :
      - Name : "输入端1.5的状态"
        Value : '(($v[1] >> 13) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 13) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1.4的状态"
        Value : '(($v[1] >> 12) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 12) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1.3的状态"
        Value : '(($v[1] >> 11) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 11) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1.2的状态"
        Value : '(($v[1] >> 10) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 10) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1.1的状态"
        Value : '(($v[1] >> 9) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 9) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端1.0的状态"
        Value : '(($v[1] >> 8) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 8) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.7的状态"
        Value : '(($v[1] >> 7) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 7) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.6的状态"
        Value : '(($v[1] >> 6) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 6) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.5的状态"
        Value : '(($v[1] >> 5) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 5) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.4的状态"
        Value : '(($v[1] >> 4) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 4) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.3的状态"
        Value : '(($v[1] >> 3) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 3) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.2的状态"
        Value : '(($v[1] >> 2) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 2) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.1的状态"
        Value : '(($v[1] >> 1) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0] >> 1) & 0x1) ? "断开" : "闭合"'
      - Name : "输入端0.0的状态"
        Value : '(($v[1]) & 0x1) ? "断开" : "闭合"'
        CValue : '((pData[0]) & 0x1) ? "断开" : "闭合"'