Project:
  Name : IL4AMF25
  RT_ID : 5156
  File : "IL4AMF25.txt"
  DevType : 2
  ProtocolName : 第4代AMF25
  Category : 柴油发电机组
Sample : 
  - Cmd : 3
    Offset : 1000
    Len : 10
    Data : 
      - Name : 转速
        Unit : rpm
      - Name : ECU状态
        Options : 
          - Key : 0
            Value : ECU黄灯
          - Key : 1
            Value : ECU红灯
          - Key : 2
            Value : ECU等待起动中
      - Name : ECU频率选择
      - Name : 发动机速度
        Unit : rpm
      - Name : 燃油速度
        Unit : "L/h"      
      - Name : 冷却液温度
        Unit : °C
      - Name : 进气温度
        Unit : °C
      - Name : 油压
        Unit : bar
      - Name : 吸气压力
        Unit : bar
      - Name : 负载
        Unit : "%"
  - Cmd : 3
    Offset : 1012
    Len : 4
    Data : 
      - Name : 运行时间
        Value : (($v[1]<<16)|$v[2])
        CValue : ((pData[0]<<16)|pData[1])
        Unit : h
      - Name : 总燃料消耗
        Value : (($v[3]<<16)|$v[4])
        CValue : ((pData[2]<<16)|pData[3])
        Unit : L
  - Cmd : 3
    Offset : 1028
    Len : 14
    Data : 
      # - Name : 负载KW
      #   Unit : kW
      # - Name : 负载L1
      #   Unit : kW
      # - Name : 负载L2
      #   Unit : kW
      # - Name : 负载L3
      #   Unit : kW
      # - Name : 负载KVAr
      #   Unit : kVAr
      # - Name : L1 KVAr
      #   Unit : kVAr
      # - Name : L2 KVAr
      #   Unit : kVAr
      # - Name : L3 KVAr
      #   Unit : kVAr
      # - Name : 负载KVA
      #   Unit : kVA
      # - Name : L1 KVA
      #   Unit : kVA
      # - Name : L2 KVA
      #   Unit : kVA
      # - Name : L3 KVA
      #   Unit : kVA
      - Name : 功率因数
      - Name : L1功率因数
      - Name : L2功率因数
      - Name : L3功率因数
      - Name : 发电频率
      - Name : 发电电压L1-N
        Unit : V
      - Name : 发电电压L2-N
        Unit : V
      - Name : 发电电压L3-N
        Unit : V
      - Name : 发电电压L1-L2
        Unit : V
      - Name : 发电电压L2-L3
        Unit : V
      - Name : 发电电压L3-L1
        Unit : V
      - Name : 负载电流L1
        Unit : A
      - Name : 负载电流L2
        Unit : A
      - Name : 负载电流L3
        Unit : A
  - Cmd : 3
    Offset : 1044
    Len : 12
    Data :
      - Name : 市电频率
        Unit : Hz
      - Name : 市电电压L1-N
        Unit : V
      - Name : 市电电压L2-N
        Unit : V
      - Name : 市电电压L3-N
        Unit : V
      - Name : 市电电压L12
        Unit : V
      - Name : 市电电压L23
        Unit : V
      - Name : 市电电压L31
        Unit : V
      - Name : 电池电压
        Unit : V
      - Name : "D+"
      - Name : 油压
        Uint : bar
      - Name : 水温
        Unit : "°C"
      - Name : 燃油位
        Unit : "%"
  - Cmd : 3
    Offset : 1057
    Len : 3
    Data : 
      - Name : GC反馈
        Value : ($v[1]&0x1)
        CValue : (pData[0]&0x1)
      - Name : MCB反馈
        Value : ($v[1]>>1)&0x1
        CValue : ((pData[0]>>1)&0x1)
      - Name : 存取锁
        Value : ($v[1]>>3)&0x1
        CValue : ((pData[0]>>3)&0x1)
      - Name : 远程关
        Value : ($v[1]>>4)&0x1
        CValue : ((pData[0]>>4)&0x1)
      - Name : 遥控测试
        Value : ($v[1]>>5)&0x1
        CValue : ((pData[0]>>5)&0x1)
      - Name : 禁止停机
        Value : ($v[1]>>6)&0x1
        CValue : ((pData[0]>>6)&0x1)
      - Name : 紧急停机
        Value : ($v[2]&0x1)
        CValue : (pData[1]&0x1)
      - Name : 起动马达1
        Value : ($v[3]&0x1)
        CValue : (pData[2]&0x1)
      - Name : 燃油阀
        Value : ($v[3]>>1)&0x1
        CValue : ((pData[2]>>1)&0x1)
      - Name : GCB合/分
        Value : ($v[3]>>2)&0x1
        CValue : ((pData[2]>>2)&0x1)
      - Name : MCB合/分
        Value : ($v[3]>>3)&0x1
        CValue : ((pData[2]>>3)&0x1)
      - Name : 预起动
        Value : ($v[3]>>4)&0x1
        CValue : ((pData[2]>>4)&0x1)
      - Name : 可以加载
        Value : ($v[3]>>5)&0x1
        CValue : ((pData[2]>>5)&0x1)
      - Name : DO警告
        Value : ($v[3]>>6)&0x1
        CValue : ((pData[2]>>6)&0x1)
  - Cmd : 1
    Offset : 172
    Len : 1
    Data :
      - Name : 紧急停机
        AlertNormalValue : 0
  - Cmd : 1
    Offset : 176
    Len : 1
    Data :
      - Name : 超速停机
        AlertNormalValue : 0
RunCheckThresholdCodeTelecom : |
  if(levelMap_["110300170010"]){
    CheckThresholdBool(levelMap_["110300170010"] , "110300170010", "110300170010", "启动电池电压过低", "001#启动电池电压过低",  cData.r3_1044[7] < valueMap_["110300170010"], 1);
  }
  if(levelMap_["110300630010"]){
    CheckThresholdBool(levelMap_["110300630010"] , "110300630010", "110300630010", "固定发动机组水温过高告警", "001#固定发动机组水温过高告警",  cData.r3_1044[10] > valueMap_["110300630010"], 1);
  }
  if(levelMap_["120300220010"]){
    CheckThresholdBool(levelMap_["120300220010"] , "120300220010", "120300220010", "超速停机告警", "001#超速停机告警",  cData.b1_176[0] , 1);
  }
  if(levelMap_["120300270010"]){
    CheckThresholdBool(levelMap_["120300270010"] , "120300270010", "120300270010", "紧急停机告警", "001#紧急停机告警",  cData.b1_172[0] , 1);
  }