Project:
  Name : PMTowerDoor
  RT_ID : 5156
  File : "10398-门禁锁A+接口协议.docx"
  DevType : 2
  ProtocolName : 铁塔门禁
  Category : 门禁系统
  Version : 0x10
  GenCmd : ./gen_pmbus_driver.sh PMTowerDoor
Sample : 
  - CID1 : 0x80
    CID2 : 0x4A
    InfoLen : 3
    Info : 0xF2, 0xED, 0x0
    Len : 2
    Data : 
      - Name : 门磁状态
        Offset : 0
        Type : S
        Value : ($v[1]&0x1)
        CValue : (pData[0]&0x1)
        Options : 
          - Key : 0
            Value : 门磁关
          - Key : 1
            Value : 门磁开
      - Name : 主锁舌状态
        Offset : 0
        Type : S
        Value : (($v[1]>>1)&0x1)
        CValue : ((pData[0]>>1)&0x1)
        Options : 
          - Key : 0
            Value : 主锁舌缩
          - Key : 1
            Value : 主锁舌出
      - Name : 斜舌状态
        Offset : 0
        Type : S
        Value : (($v[1]>>2)&0x1)
        CValue : ((pData[0]>>2)&0x1)
        Options : 
          - Key : 0
            Value : 斜锁舌缩
          - Key : 1
            Value : 斜锁舌出
      - Name : 错误操作信息发送
        Offset : 1
        Type : S
        Value : (($v[1]>>2)&0x1)
        CValue : ((pData[0]>>2)&0x1)
        Options : 
          - Key : 0
            Value : 正常操作
          - Key : 1
            Value : 错误操作
      - Name : 撬锁报警信息发送
        Offset : 1
        Type : S
        Value : (($v[1]>>1)&0x1)
        CValue : ((pData[0]>>1)&0x1)
        Options : 
          - Key : 0
            Value : 正常进门
          - Key : 1
            Value : 撬锁报警
      - Name : 超时未开门信息推送
        Offset : 1
        Type : S
        Value : (($v[1]>>2)&0x1)
        CValue : ((pData[0]>>2)&0x1)
        Options : 
          - Key : 0
            Value : 正常时间内开门
          - Key : 1
            Value : 超时未开门
      - Name : 钥匙开锁信息推送
        Offset : 1
        Type : S
        Value : (($v[1]>>3)&0x1)
        CValue : ((pData[0]>>3)&0x1)
        Options : 
          - Key : 0
            Value : 未采用钥匙开锁
          - Key : 1
            Value : 采用钥匙开锁
      - Name : 虚锁信息推送
        Offset : 1
        Type : S
        Value : (($v[1]>>4)&0x1)
        CValue : ((pData[0]>>4)&0x1)
        Options : 
          - Key : 0
            Value : 未虚锁
          - Key : 1
            Value : 虚锁
      - Name : 门虚掩信息推送
        Offset : 1
        Type : S
        Value : (($v[1]>>5)&0x1)
        CValue : ((pData[0]>>5)&0x1)
        Options : 
          - Key : 0
            Value : 门未虚掩
          - Key : 1
            Value : 门虚掩
SET_RET_CODE : |
  case 320: {
        cmd_result_ = 1;
        Reset();
        return false;
      }
      
SET_DO_CODE : |
  std::string doId((char*)inBuffer, inBufferSize);
  if(doId == "801500800001") {
      //开门
      cmd_result_ = -1;
      uint8_t cmd[] = { 0xF1, 0xED, 0x1};
      write_pmbus_cmd ( 0x80, 0x49, (const uint8_t*)cmd, 3);
      
  }






      