Project:
  Name : SGC420
  RT_ID : 5156
  File : "拖车发电机控制器_用户手册中文(3).pdf"
Sample : 
  - Cmd : 3
    Offset : 1
    Len : 38
    Type : 'S'
    Data : 
      - Name : "发电机L1-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L2-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L3-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L1-L2电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L2-L3电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L3-L1电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机频率L1"
        Ratio : 10
        Unit : Hz
      - Name : "发电机频率L2"
        Ratio : 10
        Unit : Hz
      - Name : "发电机频率L3"
        Ratio : 10
        Unit : Hz
      - Name : "发电机功率因数L1"
        Ratio : 100
      - Name : "发电机功率因数L2"
        Ratio : 100
      - Name : "发电机功率因数L3"
        Ratio : 100
      - Name : "发电机平均功率因数"
        Ratio : 10
      - Name : "主机L1-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "电源L2-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "主机L3-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "主机L1-L2电压"
        Ratio : 10
        Unit : "V"
      - Name : "电源L2-L3电压"
        Ratio : 10
        Unit : "V"
      - Name : "主机L3-L1电压"
        Ratio : 10
        Unit : "V"
      - Name : "主机频率L1"
        Ratio : 10
        Unit : Hz
      - Name : "主机频率L2"
        Ratio : 10
        Unit : Hz
      - Name : "主机频率L3"
        Ratio : 10
        Unit : Hz
      - Name : "负载L1电流"
        Ratio : 10
        Unit : A
      - Name : "负载L2电流"
        Ratio : 10
        Unit : A
      - Name : "负载L3电流"
        Ratio : 10
        Unit : A
      - Name : "负载L1瓦"
        Ratio : 10
        Unit : KW
      - Name : "负载L2瓦"
        Ratio : 10
        Unit : KW
      - Name : "负载L3瓦"
        Ratio : 10
        Unit : KW
      - Name : "负载总瓦数"
        Unit : KW
      - Name : "负荷百分比"
        Ratio : 10
      - Name : "负载L1 VA"
        Ratio : 10
        Unit : kVA
      - Name : "负载L2 VA"
        Ratio : 10
        Unit : kVA
      - Name : "负载L3 VA"
        Ratio : 10
        Unit : kVA
      - Name : "负载总 VA"
        Ratio : 10
        Unit : kVA
      - Name : "加载L1 var"
        Ratio : 10
        Unit : kvar
      - Name : "加载L2 var"
        Ratio : 10
        Unit : kvar
      - Name : "加载L3 var"
        Ratio : 10
        Unit : kvar
      - Name : "加载总 var"
        Ratio : 10
        Unit : kvar
  - Cmd : 3
    Offset : 39
    Len : 12
    Type : 'S'
    Data : 
      - Name : "发电机累积电量"
        Unit : "kWh"
        Value : (($v[1]<<16)+$v[2])/10
        CValue : ((float)((pData[0]<<16)+pData[1]))/10
      - Name : "发电机累计视在电量"
        Unit : "kVAh"
        Value : (($v[3]<<16)+$v[4])/10
        CValue : ((float)((pData[2]<<16)+pData[3]))/10
      - Name : "发电机累计无功功率"
        Unit : "kVArh"
        Value : (($v[5]<<16)+$v[6])/10
        CValue : ((float)((pData[4]<<16)+pData[5]))/10
      - Name : "主机累积能量"
        Unit : "kWh"
        Value : (($v[7]<<16)+$v[8])/10
        CValue : ((float)((pData[6]<<16)+pData[7]))/10
      - Name : "主机累积视在能量"
        Unit : "kVAh"
        Value : (($v[9]<<16)+$v[10])/10
        CValue : ((float)((pData[8]<<16)+pData[9]))/10
      - Name : "主机累积无功功率"
        Unit : "kVArh"
        Value : (($v[11]<<16)+$v[12])/10
        CValue : ((float)((pData[10]<<16)+pData[11]))/10
  - Cmd : 3
    Offset : 51
    Len : 14
    Type : 'S'
    Data : 
      - Name : "油压"
        Ratio : 10
        Unit : Bar
      - Name : "冷却水温度"
        Unit : 摄氏度
      - Name : 燃油液位
        Ratio : 10
        Unit : '%'
      - Name : 燃料水平（升）
        Ratio : 10
        Unit : L
      - Name : 充电交流发电机电压
        Ratio : 10
        Unit : V
      - Name : 蓄电池电压
        Unit : V
      - Name : 发动机转速
        Unit : "RPM"
      - Name : "启动次数"
      - Name : "自动断开次数"
      - Name : "发动机运行时间1"
        Value : (($v[10]<<16) | $v[11])
        CValue : ((pData[9]<<16) | pData[10])
      - Name : "发动机运行分钟"
        Offset : 12
        Unit : "最小"
      - Name : "主机运行时间"
        Offset : 13
        Unit : "小时"
      - Name : "主机运行分钟"
        Offset : 14
        Unit : "最小"
  - Cmd : 3
    Offset : 69
    Len : 3
    Data : 
      - Name : "基站电池电压"
        Ratio : 10
      - Name : "基站电池运行时间小时"
      - Name : "基站电池运行时间分钟数"
  - Cmd : 3
    Offset : 72
    Len : 7
    Data : 
      - Name : 低油压
        Value : ((($v[1]>>12) & 0xF) > 1)
        CValue : (((pData[0]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 高冷却液温度
        Value : ((($v[1]>>8) & 0xF) > 1)
        CValue : (((pData[0]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 散热器水位/低油位
        Value : ((($v[1]>>4) & 0xF) > 1)
        CValue : (((pData[0]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 备用/散热器水位开关
        Value : ((($v[1]) & 0xF) > 1)
        CValue : (((pData[0]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 欠速
        Value : ((($v[2]>>12) & 0xF) > 1)
        CValue : (((pData[1]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 超速
        Value : ((($v[2]>>8) & 0xF) > 1)
        CValue : (((pData[1]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 启动失败
        Value : ((($v[2]>>4) & 0xF) > 1)
        CValue : (((pData[1]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 停机失败
        Value : ((($v[2]) & 0xF) > 1)
        CValue : (((pData[1]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机低压/备用
        Value : ((($v[3]>>12) & 0xF) > 1)
        CValue : (((pData[2]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机高压/预留
        Value : ((($v[3]>>8) & 0xF) > 1)
        CValue : (((pData[2]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机低频
        Value : ((($v[3]>>4) & 0xF) > 1)
        CValue : (((pData[2]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机高频
        Value : ((($v[3]) & 0xF) > 1)
        CValue : (((pData[2]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机大电流
        Value : ((($v[4]>>12) & 0xF) > 1)
        CValue : (((pData[3]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机过载
        Value : ((($v[4]>>8) & 0xF) > 1)
        CValue : (((pData[3]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 负载不平衡
        Value : ((($v[4]>>4) & 0xF) > 1)
        CValue : (((pData[3]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 急停
        Value : ((($v[4]) & 0xF) > 1)
        CValue : (((pData[3]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 充电交流发电机故障
        Value : ((($v[5]>>12) & 0xF) > 1)
        CValue : (((pData[4]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 机油滤清器保养/滤清器保养
        Value : ((($v[5]>>8) & 0xF) > 1)
        CValue : (((pData[4]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 燃油滤清器保养/预留
        Value : ((($v[5]>>4) & 0xF) > 1)
        CValue : (((pData[4]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 空气滤清器保养/预留
        Value : ((($v[5]) & 0xF) > 1)
        CValue : (((pData[4]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 电池低压
        Value : ((($v[6]>>12) & 0xF) > 1)
        CValue : (((pData[5]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 电池高压
        Value : ((($v[6]>>8) & 0xF) > 1)
        CValue : (((pData[5]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 机油压力电路开路/发动机温度电路开路
        Value : ((($v[6]>>4) & 0xF) > 1)
        CValue : (((pData[5]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 燃油阈值
        Value : ((($v[7]>>12) & 0xF) > 1)
        CValue : (((pData[6]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 磁吸式故障检测
        Value : ((($v[7]>>8) & 0xF) > 1)
        CValue : (((pData[6]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 油压回路
        Value : ((($v[7]>>4) & 0xF) > 1)
        CValue : (((pData[6]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
  - Cmd : 3
    Offset : 83
    Len : 7
    Data : 
      - Name : 发电机组L1相低压
        Value : ((($v[1]>>12) & 0xF) > 1)
        CValue : (((pData[0]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L1相高压
        Value : ((($v[1]>>8) & 0xF) > 1)
        CValue : (((pData[0]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L2相低压
        Value : ((($v[1]>>4) & 0xF) > 1)
        CValue : (((pData[0]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L2相高压
        Value : ((($v[1]) & 0xF) > 1)
        CValue : (((pData[0]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L3相电压低
        Value : ((($v[2]>>12) & 0xF) > 1)
        CValue : (((pData[1]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L3相高压
        Value : ((($v[2]>>8) & 0xF) > 1)
        CValue : (((pData[1]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : DG相位反向
        Value : ((($v[2]>>4) & 0xF) > 1)
        CValue : (((pData[1]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 主机相位反向
        Value : ((($v[2]) & 0xF) > 1)
        CValue : (((pData[1]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 延长过载行程
        Value : ((($v[3]>>12) & 0xF) > 1)
        CValue : (((pData[2]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : V型皮带断裂
        Value : ((($v[3]>>8) & 0xF) > 1)
        CValue : (((pData[2]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 打开燃油液位
        Value : ((($v[3]>>4) & 0xF) > 1)
        CValue : (((pData[2]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 检测到高油压
        Value : ((($v[3]) & 0xF) > 1)
        CValue : (((pData[2]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
     
      - Name : 辅助S4回路故障警报
        Value : ((($v[4]>>12) & 0xF) > 1)
        CValue : (((pData[4]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S3回路故障警报
        Value : ((($v[4]>>8) & 0xF) > 1)
        CValue : (((pData[4]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S2回路故障警报
        Value : ((($v[4]>>4) & 0xF) > 1)
        CValue : (((pData[4]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S1回路开路警报
        Value : ((($v[4]) & 0xF) > 1)
        CValue : (((pData[4]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S4打开CKT警报
        Value : ((($v[5]>>12) & 0xF) > 1)
        CValue : (((pData[5]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S3打开CKT警报
        Value : ((($v[5]>>8) & 0xF) > 1)
        CValue : (((pData[5]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S2打开CKT警报
        Value : ((($v[5]>>4) & 0xF) > 1)
        CValue : (((pData[5]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S1打开CKT警报
        Value : ((($v[5]) & 0xF) > 1)
        CValue : (((pData[5]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S4过电流/过电压警报
        Value : ((($v[6]>>12) & 0xF) > 1)
        CValue : (((pData[6]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S3过电流/过电压警报
        Value : ((($v[6]>>8) & 0xF) > 1)
        CValue : (((pData[6]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
  - Cmd : 3
    Offset : 91
    Len : 1
    Data : 
      - Name : GCU模式
        Value : (($v[1] >> 15) & 0x1) 
        CValue : ((pData[0] >> 15) & 0x1)
        Options :
          - Key : 0
            Value : 未运行
          - Key : 1
            Value : 运行
      - Name : 主机正常/不正常
        Value : (($v[1] >> 14) & 0x1) 
        CValue : ((pData[0] >> 14) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : DG 运行模式
        Value : (($v[1] >> 11) & 0x7) 
        CValue : ((pData[0] >> 11) & 0x7)
        Options :
          - Key : 6
            Value : 循环的
          - Key : 5
            Value : 自动 
          - Key : 4
            Value : 手动 
      - Name : DG负载开
        Value : (($v[1] >> 10) & 0x7)
        CValue : ((pData[0] >> 10) & 0x7)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 负载在主电源上
        Value : (($v[1] >> 9) & 0x1) 
        CValue : ((pData[0] >> 9) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : DG当前状态
        Value : (($v[1] >> 8) & 0x1) 
        CValue : ((pData[0] >> 8) & 0x1)
        Options :
          - Key : 0
            Value : 停止
          - Key : 1
            Value : 运行 
      - Name : DG正常停止
        Value : (($v[1] >> 7) & 0x1) 
        CValue : ((pData[0] >> 7) & 0x1)
        Options :
          - Key : 0
            Value : 否
          - Key : 1
            Value : 是 
      - Name : DG因故障停止
        Value : (($v[1] >> 6) & 0x1) 
        CValue : ((pData[0] >> 6) & 0x1)
        Options :
          - Key : 0
            Value : 否
          - Key : 1
            Value : 是 
      - Name : DG启动失败
        Value : (($v[1] >> 5) & 0x1) 
        CValue : ((pData[0] >> 5) & 0x1)
        AlertNormalValue : 0
        TelePSignalId : 05009
      - Name : 发电机组可用的
        Value : (($v[1] >> 4) & 0x1) 
        CValue : ((pData[0] >> 4) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 常见的关机
        Value : (($v[1] >> 3) & 0x1) 
        CValue : ((pData[0] >> 3) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 常见的电子自动关断
        Value : (($v[1] >> 2) & 0x1) 
        CValue : ((pData[0] >> 2) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 普通报警
        Value : (($v[1] >> 1) & 0x1) 
        CValue : ((pData[0] >> 1) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 普通通知
        Value : (($v[1]) & 0x1) 
        CValue : ((pData[0]) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 