Project:
  Name : SGC420MKII
  RT_ID : 5156
  File : "SGC_420_Mk_II_Modbus_tables_4189341402B_CN(1).xlsx"
Sample : 
  - Cmd : 3
    Offset : 1
    Len : 38
    Type : 'S'
    Data : 
      - Name : "发电机L1-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L2-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L3-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L1-L2电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L2-L3电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L3-L1电压"
        Ratio : 10
        Unit : "V"
      - Name : "发电机频率L1"
        Ratio : 10
        Unit : Hz
      - Name : "发电机频率L2"
        Ratio : 10
        Unit : Hz
      - Name : "发电机频率L3"
        Ratio : 10
        Unit : Hz
      - Name : "发电机功率因数L1"
        Ratio : 100
      - Name : "发电机功率因数L2"
        Ratio : 100
      - Name : "发电机功率因数L3"
        Ratio : 100
      - Name : "发电机平均功率因数"
        Ratio : 10
      - Name : "市电L1-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "市电L2-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "市电L3-N电压"
        Ratio : 10
        Unit : "V"
      - Name : "市电L1-L2电压"
        Ratio : 10
        Unit : "V"
      - Name : "市电L2-L3电压"
        Ratio : 10
        Unit : "V"
      - Name : "市电L3-L1电压"
        Ratio : 10
        Unit : "V"
      - Name : "市网频率L1"
        Ratio : 10
        Unit : Hz
      - Name : "市网频率L2"
        Ratio : 10
        Unit : Hz
      - Name : "市网频率L3"
        Ratio : 10
        Unit : Hz
      - Name : "负载L1电流"
        Ratio : 10
        Unit : A
      - Name : "负载L2电流"
        Ratio : 10
        Unit : A
      - Name : "负载L3电流"
        Ratio : 10
        Unit : A
      - Name : "负载L1功率"
        Ratio : 10
        Unit : KW
      - Name : "负载L2功率"
        Ratio : 10
        Unit : KW
      - Name : "负载L3功率"
        Ratio : 10
        Unit : KW
      - Name : "负载总功率"
        Unit : KW
      - Name : "负荷百分比"
        Ratio : 10
      - Name : "负载L1视在功率"
        Ratio : 10
        Unit : kVA
      - Name : "负载L2视在功率"
        Ratio : 10
        Unit : kVA
      - Name : "负载L3视在功率"
        Ratio : 10
        Unit : kVA
      - Name : "负载总视在功率"
        Ratio : 10
        Unit : kVA
      - Name : "负载L1无功功率"
        Ratio : 10
        Unit : kvar
      - Name : "负载L2无功功率"
        Ratio : 10
        Unit : kvar
      - Name : "负载L3无功功率"
        Ratio : 10
        Unit : kvar
      - Name : "负载总无功功率"
        Ratio : 10
        Unit : kvar
  - Cmd : 3
    Offset : 39
    Len : 12
    Type : 'S'
    Data : 
      - Name : "发电机累积电量"
        Unit : "kWh"
        Value : (($v[1]<<16)+$v[2])/10
        CValue : ((float)((pData[0]<<16)+pData[1]))/10
      - Name : "发电机累计视在电量"
        Unit : "kVAh"
        Value : (($v[3]<<16)+$v[4])/10
        CValue : ((float)((pData[2]<<16)+pData[3]))/10
      - Name : "发电机累计无功功率"
        Unit : "kVArh"
        Value : (($v[5]<<16)+$v[6])/10
        CValue : ((float)((pData[4]<<16)+pData[5]))/10
      - Name : "发电机累积电量2"
        Unit : "kWh"
        Value : (($v[7]<<16)+$v[8])/10
        CValue : ((float)((pData[6]<<16)+pData[7]))/10
      - Name : "发电机累计视在电量2"
        Unit : "kVAh"
        Value : (($v[9]<<16)+$v[10])/10
        CValue : ((float)((pData[8]<<16)+pData[9]))/10
      - Name : "发电机累计无功功率2"
        Unit : "kVArh"
        Value : (($v[11]<<16)+$v[12])/10
        CValue : ((float)((pData[10]<<16)+pData[11]))/10
  - Cmd : 3
    Offset : 51
    Len : 14
    Type : 'S'
    Data : 
      - Name : "ECU的油压和LOP"
        Ratio : 10
        Unit : Bar
      - Name : "ECU的冷却液温度和CLNT温度"
        Unit : 摄氏度
      - Name : 燃油液位
        Ratio : 10
        Unit : '%'
      - Name : 燃料数值（升）
        Ratio : 10
        Unit : L
      - Name : 充电交流发电机电压
        Ratio : 10
        Unit : V
      - Name : ECU的电池电压和电池电压
        Unit : V
      - Name : ECU的发动机转速和转速
        Unit : "RPM"
      - Name : "启动次数"
      - Name : "自动断开次数"
      - Name : "从ECU开始工程运行小时和运行小时（从ECU开始超过65535）"
      - Name : "从ECU启动运行小时和运行小时"
        Unit : "小时"
      - Name : "从ECU启动运行分钟和运行小时"
        Unit : "最小"
      - Name : "主机运行时间"
        Unit : "分钟"
      - Name : "主机运行分钟"
        Ratio : 10
        Unit : "最小"
  - Cmd : 3
    Offset : 69
    Len : 3
    Data : 
      - Name : "基站电池电压"
      - Name : "基站电池运行时间小时"
      - Name : "基站电池运行时间分钟数"
  - Cmd : 3
    Offset : 72
    Len : 7
    Data : 
      - Name : 低油压
        Value : ((($v[1]>>12) & 0xF) > 1)
        CValue : (((pData[0]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 高冷却液温度
        Value : ((($v[1]>>8) & 0xF) > 1)
        CValue : (((pData[0]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 燃油液位
        Value : ((($v[1]>>4) & 0xF) > 1)
        CValue : (((pData[0]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 水位开关
        Value : ((($v[1]) & 0xF) > 1)
        CValue : (((pData[0]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 欠速
        Value : ((($v[2]>>12) & 0xF) > 1)
        CValue : (((pData[1]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 超速
        Value : ((($v[2]>>8) & 0xF) > 1)
        CValue : (((pData[1]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 启动失败
        Value : ((($v[2]>>4) & 0xF) > 1)
        CValue : (((pData[1]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 停机失败
        Value : ((($v[2]) & 0xF) > 1)
        CValue : (((pData[1]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 室内场所温度开路
        Value : ((($v[3]>>12) & 0xF) > 1)
        CValue : (((pData[2]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 室内场所温度高
        Value : ((($v[3]>>8) & 0xF) > 1)
        CValue : (((pData[2]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机低频
        Value : ((($v[3]>>4) & 0xF) > 1)
        CValue : (((pData[2]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机高频
        Value : ((($v[3]) & 0xF) > 1)
        CValue : (((pData[2]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机大电流
        Value : ((($v[4]>>12) & 0xF) > 1)
        CValue : (((pData[3]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机过载
        Value : ((($v[4]>>8) & 0xF) > 1)
        CValue : (((pData[3]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 负载不平衡
        Value : ((($v[4]>>4) & 0xF) > 1)
        CValue : (((pData[3]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 急停
        Value : ((($v[4]) & 0xF) > 1)
        CValue : (((pData[3]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 充电交流发电机故障
        Value : ((($v[5]>>12) & 0xF) > 1)
        CValue : (((pData[4]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 机油滤清器保养/滤清器保养
        Value : ((($v[5]>>8) & 0xF) > 1)
        CValue : (((pData[4]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      # - Name : MIL灯（自动化）
      #   Value : ((($v[5]>>4) & 0xF) > 1)
      #   CValue : (((pData[4]>>4) & 0xF) > 1)
      #   AlertNormalValue : 0
      #   TelePSignalId : 05024
      # - Name : 红灯（自动化）
      #   Value : ((($v[5]) & 0xF) > 1)
      #   CValue : (((pData[4]) & 0xF) > 1)
      #   AlertNormalValue : 0
      #   TelePSignalId : 05024
      - Name : 电池低压
        Value : ((($v[6]>>12) & 0xF) > 1)
        CValue : (((pData[5]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 电池高压
        Value : ((($v[6]>>8) & 0xF) > 1)
        CValue : (((pData[5]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发动机温度回路开路
        Value : ((($v[6]>>4) & 0xF) > 1)
        CValue : (((pData[5]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 逆功功率被检测
        Value : ((($v[6]) & 0xF) > 1)
        CValue : (((pData[5]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 燃油阈值
        Value : ((($v[7]>>12) & 0xF) > 1)
        CValue : (((pData[6]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 转速检测失败
        Value : ((($v[7]>>8) & 0xF) > 1)
        CValue : (((pData[6]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 油压开路
        Value : ((($v[7]>>4) & 0xF) > 1)
        CValue : (((pData[6]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
  - Cmd : 3
    Offset : 83
    Len : 7
    Data : 
      - Name : 发电机组L1相低压
        Value : ((($v[1]>>12) & 0xF) > 1)
        CValue : (((pData[0]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L1相高压
        Value : ((($v[1]>>8) & 0xF) > 1)
        CValue : (((pData[0]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L2相低压
        Value : ((($v[1]>>4) & 0xF) > 1)
        CValue : (((pData[0]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L2相高压
        Value : ((($v[1]) & 0xF) > 1)
        CValue : (((pData[0]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L3相电压低
        Value : ((($v[2]>>12) & 0xF) > 1)
        CValue : (((pData[1]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 发电机组L3相高压
        Value : ((($v[2]>>8) & 0xF) > 1)
        CValue : (((pData[1]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : DG相位反向
        Value : ((($v[2]>>4) & 0xF) > 1)
        CValue : (((pData[1]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 市电相位反向
        Value : ((($v[2]) & 0xF) > 1)
        CValue : (((pData[1]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 低负载
        Value : ((($v[3]>>12) & 0xF) > 1)
        CValue : (((pData[2]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : V型皮带断裂
        Value : ((($v[3]>>8) & 0xF) > 1)
        CValue : (((pData[2]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 燃油液位-开路
        Value : ((($v[3]>>4) & 0xF) > 1)
        CValue : (((pData[2]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 检测到高油压
        Value : ((($v[3]) & 0xF) > 1)
        CValue : (((pData[2]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
     
      - Name : 辅助S4回路故障警报
        Value : ((($v[5]>>12) & 0xF) > 1)
        CValue : (((pData[4]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S3回路故障警报
        Value : ((($v[5]>>8) & 0xF) > 1)
        CValue : (((pData[4]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S2回路故障警报
        Value : ((($v[5]>>4) & 0xF) > 1)
        CValue : (((pData[4]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S1回路开路警报
        Value : ((($v[5]) & 0xF) > 1)
        CValue : (((pData[4]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S4短接到电池
        Value : ((($v[6]>>12) & 0xF) > 1)
        CValue : (((pData[5]>>12) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 辅助S3短接到电池
        Value : ((($v[6]>>8) & 0xF) > 1)
        CValue : (((pData[5]>>8) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : AFT激活超时
        Value : ((($v[6]>>4) & 0xF) > 1)
        CValue : (((pData[5]>>4) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 灰分负荷维护
        Value : ((($v[6]) & 0xF) > 1)
        CValue : (((pData[5]) & 0xF) > 1)
        AlertNormalValue : 0
        TelePSignalId : 05024
  - Cmd : 3
    Offset : 91
    Len : 1
    Data : 
      - Name : SGC模式
        Value : (($v[1] >> 15) & 0x1) 
        CValue : ((pData[0] >> 15) & 0x1)
        Options :
          - Key : 0
            Value : 未运行
          - Key : 1
            Value : 运行
      - Name : 主机正常/不正常
        Value : (($v[1] >> 14) & 0x1) 
        CValue : ((pData[0] >> 14) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : DG 运行模式
        Value : (($v[1] >> 11) & 0x7) 
        CValue : ((pData[0] >> 11) & 0x7)
        Options :
          - Key : 6
            Value : 调度程序
          - Key : 5
            Value : 自动 
          - Key : 4
            Value : 手动 
      - Name : 手动模式
        Value : ((($v[1] >> 11) & 0x7) == 4)
        CValue : (((pData[0] >> 11) & 0x7) == 4)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 市电带载
        Value : (($v[1] >> 10) & 0x1) 
        CValue : ((pData[0] >> 10) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : DG负载开
        Value : (($v[1] >> 9) & 0x1) 
        CValue : ((pData[0] >> 9) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : DG当前状态
        Value : (($v[1] >> 8) & 0x1) 
        CValue : ((pData[0] >> 8) & 0x1)
        Options :
          - Key : 0
            Value : 已停止
          - Key : 1
            Value : 正在运行 
      - Name : 油机启动
        Value : (($v[1] >> 8) & 0x1) 
        CValue : ((pData[0] >> 8) & 0x1)
        AlertNormalValue : 0
        TelePSignalId : 05009
      - Name : DG正常停止
        Value : (($v[1] >> 7) & 0x1) 
        CValue : ((pData[0] >> 7) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : DG因故障停止
        Value : (($v[1] >> 6) & 0x1) 
        CValue : ((pData[0] >> 6) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : DG启动失败
        Value : (($v[1] >> 5) & 0x1) 
        CValue : ((pData[0] >> 5) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 发电机组可用的
        Value : (($v[1] >> 4) & 0x1) 
        CValue : ((pData[0] >> 4) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 故障停机报警
        Value : (($v[1] >> 3) & 0x1) 
        CValue : ((pData[0] >> 3) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 分闸报警
        Value : (($v[1] >> 2) & 0x1) 
        CValue : ((pData[0] >> 2) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 公共报警
        Value : (($v[1] >> 1) & 0x1) 
        CValue : ((pData[0] >> 1) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
      - Name : 报警通知
        Value : (($v[1]) & 0x1) 
        CValue : ((pData[0]) & 0x1)
        Options :
          - Key : 0
            Value : 错误
          - Key : 1
            Value : 正确 
  - Cmd : 3
    Offset : 96
    Len : 3
    Data : 
      - Name : "LOP值"
        Ratio : 10
      - Name : "燃油液位值"
        Ratio : 10
      - Name : "温度值"
        Ratio : 10
  - Cmd : 3
    Offset : 107
    Len : 3
    Data : 
      - Name : 低级报警
        Value : (($v[1] >> 15) & 0x1) 
        CValue : ((pData[0] >> 15) & 0x1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 燃油液位警报
        Value : (($v[1] >> 14) & 0x1) 
        CValue : ((pData[0] >> 14) & 0x1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 温度警报
        Value : (($v[1] >> 13) & 0x1) 
        CValue : ((pData[0] >> 13) & 0x1)
        AlertNormalValue : 0
        TelePSignalId : 05024
      - Name : 室内温度报警
        Value : (($v[1] >> 12) & 0x1) 
        CValue : ((pData[0] >> 12) & 0x1)
        AlertNormalValue : 0
        TelePSignalId : 05024
  - Cmd : 3
    Offset : 501 
    Len : 19
    Data : 
      - Name : "发电机L1-L2电压2"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L2-L3电压2"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L3-L1电压2"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L1-N电压2"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L2-N电压2"
        Ratio : 10
        Unit : "V"
      - Name : "发电机L3-N电压2"
        Ratio : 10
        Unit : "V"      
      - Name : "发电机频率L1 2"
        Ratio : 10
        Unit : Hz
      - Name : "发电机频率L2 2"
        Ratio : 10
        Unit : Hz
      - Name : "发电机频率L3 2"
        Ratio : 10
        Unit : Hz
      - Name : "负载L1电流2"
        Ratio : 10
        Unit : A
      - Name : "负载L2电流2"
        Ratio : 10
        Unit : A
      - Name : "负载L3电流2"
        Ratio : 10
        Unit : A
      - Name : "负载L1功率2"
        Ratio : 10
        Unit : KW
      - Name : "负载L2功率2"
        Ratio : 10
        Unit : KW
      - Name : "负载L3功率2"
        Ratio : 10
        Unit : KW
      - Name : "负载总功率2"
        Unit : KW
  - Cmd : 3
    Offset : 555
    Len : 2
    Data : 
      - Name : "Eng运行小时数"
        Value : (($v[1]<<16)+$v[2])
        CValue : ((float)((pData[0]<<16)+pData[1]))
  - Cmd : 3
    Offset : 567
    Len : 1
    Data : 
      - Name : "蓄电池电压"
        Ratio : 10
        Unit : "V"
  - Cmd : 3
    Offset : 583
    Len : 3
    Data : 
      - Name : "燃油液位"
      - Name : "油压"
        Ratio : 10
      - Name : "冷却水温度"
        Ratio : 10

















