Project:
  Name : XJBADianBiaoTongXun
  RT_ID : 5156
  File : "新疆二枢纽BA数据MODBUS_TCP协议25.7.8.xls - 电表通讯"
  DevType : 4
  ProtocolName : 新疆二枢纽BA电表通讯
  Category : 专用空调
BlockTemplate: 
  ValveAction:
    BlockLength : 4
    BlockType : 'S'
    BlockContent :
      - Name : "%s动作状态-本地/远程"
        CValue : (pData[1] & 0x1)
        Value : ($v[2] & 0x1)
        Options : 
          - Key : 0
            Value : 本地
          - Key : 1
            Value : 远程
      - Name : "%s动作状态-开到位"
        CValue : ((pData[1]>>1) & 0x1)
        Value : (($v[2]>>1) & 0x1)
        Options : 
          - Key : 0
            Value : 未开到位
          - Key : 1
            Value : 开到位
      - Name : "%s动作状态-关到位"
        CValue : ((pData[1]>>2) & 0x1)
        Value : (($v[2]>>2) & 0x1)
        Options : 
          - Key : 0
            Value : 未关到位
          - Key : 1
            Value : 关到位
      - Name : "%s动作状态-开故障"
        CValue : ((pData[1]>>3) & 0x1)
        Value : (($v[2]>>3) & 0x1)
        Options : 
          - Key : 0
            Value : 正常
          - Key : 1
            Value : 开阀故障
      - Name : "%s动作状态-关故障"
        CValue : ((pData[1]>>4) & 0x1)
        Value : (($v[2]>>4) & 0x1)
        Options : 
          - Key : 0
            Value : 正常
          - Key : 1
            Value : 关阀故障
      - Name : "%s动作状态-故障汇总"
        CValue : ((pData[1]>>5) & 0x1)
        Value : (($v[2]>>5) & 0x1)
        Options : 
          - Key : 0
            Value : 正常
          - Key : 1
            Value : 故障
      - Name : "%s动作状态-开过程中"
        CValue : ((pData[1]>>6) & 0x1)
        Value : (($v[2]>>6) & 0x1)
        Options : 
          - Key : 0
            Value : 无动作
          - Key : 1
            Value : 开阀过程中
      - Name : "%s动作状态-关过程中"
        CValue : ((pData[1]>>7) & 0x1)
        Value : (($v[2]>>7) & 0x1)
        Options : 
          - Key : 0
            Value : 无动作
          - Key : 1
            Value : 关阀过程中
      - Name : "%s动作状态-中间状态"
        CValue : ((pData[1]>>8) & 0x1)
        Value : (($v[2]>>8) & 0x1)
        Options : 
          - Key : 0
            Value : 未处于中间状态
          - Key : 1
            Value : 中间状态
  ValveControl:
    BlockLength : 4
    BlockType : 'S'
    BlockContent :
      - Name : "%s控制状态-手动/自动"
        CValue : (pData[1] & 0x1)
        Value : ($v[2] & 0x1)
        Options : 
          - Key : 0
            Value : 自动
          - Key : 1
            Value : 手动
  SensorStatus:
    BlockLength : 4
    BlockType : 'S'
    BlockContent :
      - Name : "%s-断线报警使能"
        CValue : (pData[1] & 0x1)
        Value : ($v[2] & 0x1)
        Options : 
          - Key : 0
            Value : 未使能
          - Key : 1
            Value : 使能
      - Name : "%s-预警使能"
        CValue : ((pData[1]>>1) & 0x1)
        Value : (($v[2]>>1) & 0x1)
        Options : 
          - Key : 0
            Value : 未使能
          - Key : 1
            Value : 使能
      - Name : "%s-报警使能"
        CValue : ((pData[1]>>2) & 0x1)
        Value : (($v[2]>>2) & 0x1)
        Options : 
          - Key : 0
            Value : 未使能
          - Key : 1
            Value : 使能
      - Name : "%s-高报警"
        CValue : ((pData[1]>>3) & 0x1)
        Value : (($v[2]>>3) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-高预警"
        CValue : ((pData[1]>>4) & 0x1)
        Value : (($v[2]>>4) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-低预警"
        CValue : ((pData[1]>>5) & 0x1)
        Value : (($v[2]>>5) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-低报警"
        CValue : ((pData[1]>>6) & 0x1)
        Value : (($v[2]>>6) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-断线报警"
        CValue : ((pData[1]>>9) & 0x1)
        Value : (($v[2]>>9) & 0x1)
        AlertNormalValue : 0
Sample : 
  - CmdGroupStart : 2166
    CmdGroupStep : 14
    CmdGroupEnd : 2250
    CmdGroupPrefix : ["冷冻泵1","冷冻泵2","冷却泵1","冷却泵4","冷却泵5","冷却泵3"]
    CmdGroupSample:
      - Cmd : 3
        Offset : 0
        Len : 10
        RType : 'f'
        Data : 
          - Name : 冷冻泵1变频器输出频率
            Unit : Hz
          - Name : 冷冻泵1变频器电流
            Unit : A
          - Name : 冷冻泵1变频器功率
            Unit : Kw
          - Name : 冷冻泵1变频器直流电压
            Unit : V
          - Name : 冷冻泵1变频器变频器温度
            Unit : "℃"
      - Cmd :  3
        Offset : 10
        Len : 1
        Data : 
          - Name : 变频器运行时间
            Unit : h
      - Cmd :  3
        Offset : 12
        Len : 2
        RType : 'f'
        Data : 
          - Name : 变频器累计功耗
            Unit : KWH
  - CmdGroupStart : 2250
    CmdGroupStep : 20
    CmdGroupEnd : 2431
    CmdGroupPrefix : ["冷冻泵1","冷冻泵2","冷却泵1","冷却泵4","冷机1","冷却塔1","冷却泵3","冷却泵5","冷却塔2"]
    CmdGroupSample:
      - Cmd : 3
        Offset : 0
        Len : 18
        RType : 'f'
        Data : 
          - Name : 电表Ua
            Unit : V
          - Name : 电表Ub
            Unit : V
          - Name : 电表Uc
            Unit : V
          - Name : 电表Ia
            Unit : A
          - Name : 电表Ib
            Unit : A
          - Name : 电表Ic
            Unit : A
          - Name : 电表P
            Unit : KW
          - Name : 电表F
            Unit : HZ
          - Name : 电表W
            Unit : KWH
