Project:
  Name : XJBADianBiaoTongXun
  RT_ID : 5156
  File : "新疆二枢纽BA数据MODBUS_TCP协议25.7.8.xls - 电表通讯"
  DevType : 4
  ProtocolName : 新疆二枢纽BA电表通讯
  Category : 专用空调
Sample : 
  - CmdGroupStart : 2166
    CmdGroupStep : 14
    CmdGroupEnd : 2250
    CmdGroupPrefix : ["冷冻泵1","冷冻泵2","冷却泵1","冷却泵4","冷却泵5","冷却泵3"]
    CmdGroupSample:
      - Cmd : 3
        Offset : 0
        Len : 10
        RType : 'f'
        Data : 
          - Name : 冷冻泵1变频器输出频率
            Unit : Hz
          - Name : 冷冻泵1变频器电流
            Unit : A
          - Name : 冷冻泵1变频器功率
            Unit : Kw
          - Name : 冷冻泵1变频器直流电压
            Unit : V
          - Name : 冷冻泵1变频器变频器温度
            Unit : "℃"
      - Cmd :  3
        Offset : 10
        Len : 1
        Data : 
          - Name : 变频器运行时间
            Unit : h
      - Cmd :  3
        Offset : 12
        Len : 2
        RType : 'f'
        Data : 
          - Name : 变频器累计功耗
            Unit : KWH
  - CmdGroupStart : 2250
    CmdGroupStep : 20
    CmdGroupEnd : 2431
    CmdGroupPrefix : ["冷冻泵1","冷冻泵2","冷却泵1","冷却泵4","冷机1","冷却塔1","冷却泵3","冷却泵5","冷却塔2"]
    CmdGroupSample:
      - Cmd : 3
        Offset : 0
        Len : 18
        RType : 'f'
        Data : 
          - Name : 电表Ua
            Unit : V
          - Name : 电表Ub
            Unit : V
          - Name : 电表Uc
            Unit : V
          - Name : 电表Ia
            Unit : A
          - Name : 电表Ib
            Unit : A
          - Name : 电表Ic
            Unit : A
          - Name : 电表P
            Unit : KW
          - Name : 电表F
            Unit : HZ
          - Name : 电表W
            Unit : KWH
