#监控设备,机房环境，智能电表，蓄电池组，UPS蓄电池，240V电池组，低压配电，新风设备，开关电源，视频监控，门禁系统，UPS设备，专用空调，油机启动电池，柴油发电机组，ATS转换柜，微模块，传感器，列头柜
Project:
  Name : XJBABuShui
  RT_ID : 5156
  File : "新疆二枢纽BA数据MODBUS_TCP协议25.7.8.xls - 补水"
  DevType : 4
  ProtocolName : 新疆二枢纽BA补水
  Category : 专用空调
BlockTemplate: 
  ValveAction:
    BlockLength : 4
    BlockType : 'S'
    BlockContent :
      - Name : "%s动作状态-本地/远程"
        CValue : (pData[1] & 0x1)
        Value : ($v[2] & 0x1)
        Options : 
          - Key : 0
            Value : 本地
          - Key : 1
            Value : 远程
      - Name : "%s动作状态-开到位"
        CValue : ((pData[1]>>1) & 0x1)
        Value : (($v[2]>>1) & 0x1)
        Options : 
          - Key : 0
            Value : 未开到位
          - Key : 1
            Value : 开到位
      - Name : "%s动作状态-关到位"
        CValue : ((pData[1]>>2) & 0x1)
        Value : (($v[2]>>2) & 0x1)
        Options : 
          - Key : 0
            Value : 未关到位
          - Key : 1
            Value : 关到位
      - Name : "%s动作状态-开故障"
        CValue : ((pData[1]>>3) & 0x1)
        Value : (($v[2]>>3) & 0x1)
        Options : 
          - Key : 0
            Value : 正常
          - Key : 1
            Value : 开阀故障
      - Name : "%s动作状态-关故障"
        CValue : ((pData[1]>>4) & 0x1)
        Value : (($v[2]>>4) & 0x1)
        Options : 
          - Key : 0
            Value : 正常
          - Key : 1
            Value : 关阀故障
      - Name : "%s动作状态-故障汇总"
        CValue : ((pData[1]>>5) & 0x1)
        Value : (($v[2]>>5) & 0x1)
        Options : 
          - Key : 0
            Value : 正常
          - Key : 1
            Value : 故障
      - Name : "%s动作状态-开过程中"
        CValue : ((pData[1]>>6) & 0x1)
        Value : (($v[2]>>6) & 0x1)
        Options : 
          - Key : 0
            Value : 无动作
          - Key : 1
            Value : 开阀过程中
      - Name : "%s动作状态-关过程中"
        CValue : ((pData[1]>>7) & 0x1)
        Value : (($v[2]>>7) & 0x1)
        Options : 
          - Key : 0
            Value : 无动作
          - Key : 1
            Value : 关阀过程中
      - Name : "%s动作状态-中间状态"
        CValue : ((pData[1]>>8) & 0x1)
        Value : (($v[2]>>8) & 0x1)
        Options : 
          - Key : 0
            Value : 未处于中间状态
          - Key : 1
            Value : 中间状态
  ValveControl:
    BlockLength : 4
    BlockType : 'S'
    BlockContent :
      - Name : "%s控制状态-手动/自动"
        CValue : (pData[1] & 0x1)
        Value : ($v[2] & 0x1)
        Options : 
          - Key : 0
            Value : 自动
          - Key : 1
            Value : 手动
  SensorStatus:
    BlockLength : 4
    BlockType : 'S'
    BlockContent :
      - Name : "%s-断线报警使能"
        CValue : (pData[1] & 0x1)
        Value : ($v[2] & 0x1)
        Options : 
          - Key : 0
            Value : 未使能
          - Key : 1
            Value : 使能
      - Name : "%s-预警使能"
        CValue : ((pData[1]>>1) & 0x1)
        Value : (($v[2]>>1) & 0x1)
        Options : 
          - Key : 0
            Value : 未使能
          - Key : 1
            Value : 使能
      - Name : "%s-报警使能"
        CValue : ((pData[1]>>2) & 0x1)
        Value : (($v[2]>>2) & 0x1)
        Options : 
          - Key : 0
            Value : 未使能
          - Key : 1
            Value : 使能
      - Name : "%s-高报警"
        CValue : ((pData[1]>>3) & 0x1)
        Value : (($v[2]>>3) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-高预警"
        CValue : ((pData[1]>>4) & 0x1)
        Value : (($v[2]>>4) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-低预警"
        CValue : ((pData[1]>>5) & 0x1)
        Value : (($v[2]>>5) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-低报警"
        CValue : ((pData[1]>>6) & 0x1)
        Value : (($v[2]>>6) & 0x1)
        AlertNormalValue : 0
      - Name : "%s-断线报警"
        CValue : ((pData[1]>>9) & 0x1)
        Value : (($v[2]>>9) & 0x1)
        AlertNormalValue : 0
Sample : 
  - Cmd : 3
    Offset : 874
    Len : 20
    RType : 'f'
    Data : 
      - Name : 软化水箱2液位
        Unit : mm
      - Name : 冷冻定压补水2出水压力
        Unit : bar
      - Name : 乙二醇水箱1液位
        Unit : mm
      - Name : 乙二醇定压补水1出水压力
        Unit : bar
      - Name : 绿化水池液位1
        Unit : mm
      - Name : 软化水箱1液位
        Unit : mm
      - Name : 冷冻定压补水1出水压力
        Unit : bar
      - Name : 乙二醇水箱2液位
        Unit : mm
      - Name : 乙二醇定压补水2出水压力
        Unit : bar
      - Name : 绿化水池液位2
        Unit : mm
  - Cmd : 3
    Offset : 942
    Len : 20
    Data : 
      - Block : SensorStatus
        index : 软化水箱2液位状态
      - Block : SensorStatus
        index : 冷冻定压补水2出水压力状态
      - Block : SensorStatus
        index : 乙二醇水箱1液位状态
      - Block : SensorStatus
        index : 乙二醇定压补水1出水压力状态
      - Block : SensorStatus
        index : 绿化水池液位1状态
      - Block : SensorStatus
        index : 软化水箱1液位状态
      - Block : SensorStatus
        index : 冷冻定压补水1出水压力状态
      - Block : SensorStatus
        index : 乙二醇水箱2液位状态
      - Block : SensorStatus
        index : 乙二醇定压补水2出水压力状态
      - Block : SensorStatus
        index : 绿化水池液位2状态


